:root{
    --main-color : hsl(185, 75%, 39%);
    --white-color : #fff;
    --Dark-gray: hsl(0, 0%, 59%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-color: var(--main-color);
     overflow: hidden;
     font-family: "Kumbh Sans", sans-serif;
 }
 
.main{
 width: 30%;
 margin: 5rem auto;
 height: 500px;
 background-color: var(--white-color);
 position: relative;
 border-radius: 20px ;
 -webkit-border-radius: 20px ;
 -moz-border-radius: 20px ;
 -ms-border-radius: 20px ;
 -o-border-radius: 20px ;
 z-index: 9;
}
.main-top{
    background-image: url(../images/bg-pattern-card.svg) ;
    width: 100%;
    height: 40%;
    background-color: yellow;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;

   
}
.main-image{
    width: 10rem;
    height: 10rem;
    border: .5rem solid var(--white-color);
    position: absolute;
    left: 50%;
    top: 20%;
background-image: url(../images/image-victor.jpg);
background-size: 100% 100%;


    transform: translate(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.main-body{
    /* background-color: black; */
    width: 100%;
text-align: center;  
 margin-top: 6rem;
}
.main-body h1{
    margin-bottom: .5rem ;
}
.main-body hr {
    margin: 1.5rem 0;
}
.main-body-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
p ,span{
    color: var(--Dark-gray) ;
}
.item h3{
    margin-bottom: .4rem;
}

.image-top{
    position: absolute;
    top: -90%;
    left: -20%;
}
.image-bottom{
    position: absolute;
    bottom: -100%;
    right: -25%;
}
@media screen  and (max-width: 789px) and (min-width: 375px)  {
    .main{
        width: 80%;
        margin: 5rem auto;
        height: 500px;
       
       }
    .image-top{
    
        top: -100%;
        left: -120%;
      
    
    }
   
    .image-bottom{
        
        bottom: -90%;
        right: -10%;
        width: 50%;

    }
}